body {
    background-image: url("https://images.unsplash.com/photo-1545383541-325a7082c04e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}

nav .navbar-nav .nav-link,
nav .navbar-brand, .nav-item {
   color: white;
   float: none;
   vertical-align: top;
   font-family: 'Staatliches', cursive;
   font-size: 45px;
   text-shadow: 2px 2px orange;
   letter-spacing: 8px;
   /* padding-left: 80px;
   padding-right: 80px; */
}

/* nav .navbar-toggler {
    color: white;
    float: none;
    vertical-align: top;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    text-shadow: 2px 2px #00b38f;
} */

h1 {
    vertical-align: top;
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    color: white;    
    text-shadow: 2px 2px orange;
    font-weight: 200;
    letter-spacing: 4px;
}

p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 20px;
}

.container-fluid {
    margin-top: 100px;
}

h2 {
    font-family: 'Staatliches', cursive;
    color: white;
    text-shadow: 2px 2px orange;
    letter-spacing: 3px;
}

.card {
    /* margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px; */
    font-family: 'Saira Condensed', sans-serif;
    background-color: black;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}