body {
    background-image: url("https://images.unsplash.com/photo-1605634110309-6e20bc6cb337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1424&q=80");
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



.jumbotron{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
    height: 200px;
  }

  
.jumbo_text {
    color: black;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
  }


.p-2 {
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    height: 360px;
    width: 360px;
}

.p-3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color:rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    height: 290px;
    width: 550px;
}



@media (max-width: 800px) {
    .jumbotron {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
    }
}






/* h1 {
    font-size: 200px;
    vertical-align: top;
    color: white;
    text-shadow: 2px 2px rgb(139, 138, 141);
    letter-spacing: 4px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-content: center;
} */